.historyItemDiv, .personalConfigTile, .addPersonalConfigTile {
	margin-bottom: 5px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.59);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.59);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.59);
	border: 1px dotted;
	cursor: pointer;
}
.historyItemDiv:hover, .personalConfigTile:hover, .addPersonalConfigTile:hover {
	-webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.66);
	-moz-box-shadow:    0px 0px 22px 0px rgba(50, 50, 50, 0.66);
	box-shadow:         0px 0px 22px 0px #ffff00;
}
.personalConfigTileActive {
	-webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.66);
	-moz-box-shadow:    0px 0px 22px 0px rgba(50, 50, 50, 0.66);
	box-shadow:         0px 0px 22px 0px red;
}
.fromToStationInfo {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+52,b3bead+100 */
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 52%, rgba(179,190,173,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(52%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 52%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 52%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 52%,rgba(179,190,173,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 52%,rgba(179,190,173,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}
.fromToTimeInfo {
	background-color: #A6FFA6;
}
.trainClass {
	background-color: #95CACA;
}
.historyItemSpan {
	display: block;
	text-align: center;
	font-size: 0.8em;
	font-family: Microsoft JhengHei,Arial,Verdana,sans-serif;
	padding: 5px 0 5px 0;
	height: 17px;
}
.historyHeader {
	font-weight: bolder;
}

#searchConfigContent {
	width: 755px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid #ccc;
}
#personalConfigContent {
	height: 100%;
	padding: 5px;
	float: left;
}
#personalSettingContent {
	padding: 5px;
	float: left;
}


#personalSettingContent {
	width: 480px;
	font-size: 0.8em;
	font-family: Microsoft JhengHei,Arial,Verdana,sans-serif;
}
.stationBox {
	width: 100%;
	margin: 0 auto 9px;
    padding: 9px;
    border: 0px solid #ffffff;
    color: #000000;
    background: #B6E1FF no-repeat center top;
    border-radius: 2px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.59);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.59);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.59);
}
#personalConfigContent {
	width: 250px;
	padding-right: 5px;
}
#trainFromAndToSetting {
	height: 220px;
}
.logo {
	width: 500px;
	height: 264px;
    border-radius: 2px;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.66);
	-moz-box-shadow:    0px 0px 22px 0px rgba(50, 50, 50, 0.66);
	box-shadow:         0px 0px 22px 0px rgba(50, 50, 50, 0.66);
}
.addPersonalConfigTile {
	text-align: center;
	background-color: #5DD4F7;
}
.imgAddPersonalConfigTile {
	width: 42px;
	height: 42px;
	margin: 10px 0;
}

div.mask {
	background-color: #ccc;
	opacity: 0.7;
	position: absolute;
}
img.loadding {
	position: absolute;
	display: none;
}

#quickPersonalConfigPanel {
	padding-left: 5px;
}
.quickPersonalConfigTile {
	display: inline-block;
    min-width: 263px;
    margin: 1px 1px 1px 1px;
}
.quickFromToStationInfo {
	background-color: #68C5D4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}
.quickFromToStationInfo:hover {
	background-color: #58A4AD
}
.quickArrowRB {
	position: relative;
    top: 2px;
}